@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
    --foreground: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #366ca5 #f1f5f9;
  overflow-x: hidden;
  padding: 2px;
  outline: none;
  border-radius: 5px;
}

/* Flashcard flipper setup */
.flashcard-flipper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  perspective: 1000px;
}

.flashcard-flipper.flipped {
  transform: rotateY(180deg);
}

.flashcard-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem; /* p-5 */
  box-sizing: border-box;
}

.flashcard-face.back {
  transform: rotateY(180deg);
} 
